body {
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  font: 14px "Helvetica Nueue", Arial, sans-serif;
  color: #333;
}
a {
  color: #333;
}
li {
  padding-bottom: 0.5em;
}
